:root {
    --shadow:
            0.7px 0.7px 10.5px rgba(0, 0, 0, 0.034),
            1.8px 1.8px 18.9px rgba(0, 0, 0, 0.049),
            3.7px 3.7px 26.8px rgba(0, 0, 0, 0.061),
            7.7px 7.7px 37.9px rgba(0, 0, 0, 0.076),
            21px 21px 75px rgba(0, 0, 0, 0.11);
    --font-big: 2.5rem;
    --font-med: 1.1rem;
    --font-small: 0.9rem;
    --font-bg: 1.5rem;
}

h1 {
    font-size: var(--font-big);
    font-weight: bold;
    margin: 12px;
}

h2 {
    font-size: var(--font-med);
    font-weight: lighter;
    margin: 12px;
}

p {
    font-size: var(--font-med);
    margin: 12px;
    letter-spacing: -0.5px;
    text-align: justify;
    hyphens: auto;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.draggable-true{
    position: relative;
    float: left;
    z-index: auto;
    shape-outside: content-box;
    box-shadow: var(--shadow);
}

button{
    display: flex;
    position: relative;
    margin: 18px auto;
    padding: 7px;
    font-family: "Roboto Mono";
    font-size: var(--font-small);
    font-weight: bolder;
    background-color: black;
    border: none;
    color: white;
}

button:hover{
    box-shadow: 2px 3px 10px 0px yellowgreen;
    transition: all 0.2s ease-out;
}

.backdrop{
    color: transparent;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
}
