:root {
    --shadow:
            0.7px 0.7px 10.5px rgba(0, 0, 0, 0.07),
            1.8px 1.8px 18.9px rgba(0, 0, 0, 0.10),
            3.7px 3.7px 26.8px rgba(0, 0, 0, 0.12),
            7.7px 7.7px 37.9px rgba(0, 0, 0, 0.15),
            21px 21px 75px rgba(0, 0, 0, 0.22);
    --font-biggest: 2rem;
    --font-big: 1rem;
    --font-med: 0.9rem;
    --font-small: 0.6rem;
    --border: 1px solid #757575;
    --border-dashed: 1px dashed #757575;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#app {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    overflow-x:hidden;
    height: 100vh;
}

h1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: var(--font-biggest);
    letter-spacing: 0;
    font-weight: 500;
    margin: 18px;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: var(--font-med);
    font-weight: 500;
    margin: 15px;
}

img {
    max-width: 100%;
}

p {
    font-size: var(--font-med);
    margin: 15px;
    letter-spacing: -0.045rem;
    text-align: justify;
}

.text-center {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

p.caption-top{
    margin: 15px 5px 5px 15px;
    font-weight: 500;
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: 0;
    font-size: var(--font-med);
}

span {
    font-size: var(--font-small);
}


.draggable-true{
    position: relative;
    float: left;
    z-index: auto;
    box-shadow: var(--shadow);
}

button, input{
    width: calc(100% - 36px);
    background: white;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    position: relative;
    margin: 15px auto;
    padding: 3px;
    font-family: "Roboto Mono";
    font-size: var(--font-med);
    font-weight: bolder;
    border: var(--border);
}

input {
    color: #757575;
    background-color: white;
    border: var(--border-dashed);
    margin: auto;
}
a {
    color: #757575;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline yellowgreen;
}

a:visited {
    color: inherit;
}

button {
    cursor: pointer;
}

.link {
    height: 50px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: var(--font-big);
    margin: 0 auto;
    width: 100%;
    color: black;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-align:center;
}

.link:hover {
    text-decoration: underline;
}
.link > a:visited {
    color: black;
}
.link > a:hover {
    text-decoration: none;
}


.card-simple{
    position: absolute;
    background-color: white;
    border: 1px solid #757575;
    box-shadow: var(--shadow);
    transform: translate(-50%, -50%);
    left: 50vw;
    width: 350px;
    text-align: center;
    top: 50vh;
    z-index: 998;
}


.flex-box{
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    width:100%;
}

.flex-box-vertical {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.flex-box-horizontal {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.close-button-container{
    justify-content: end;
}

.close-button{
    width: 15px;
    margin: 7px;
    padding: 0;
}

nav {
    transform: translate(0,-50%);
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    display: flex;
    top: 50vh;
    vertical-align: middle;
}

.full-bleed{
    position: relative;
    /*overflow: hidden;*/
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    scroll-snap-align: start;
}


/*Vue transition*/
/*zoom*/

.zoom-enter-active,
.zoom-leave-active {
    animation-duration: 150ms;
    animation-fill-mode: both;
    animation-name: zoom;
}

.zoom-leave-active {
    animation-direction: reverse;
}

@keyframes zoom {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.zoom-topright-enter-active,
.zoom-topright-leave-active {
    animation-duration: 150ms;
    animation-fill-mode: both;
    animation-name: zoom-topright;
}

.zoom-topright-leave-active {
    animation-direction: reverse;
}


@keyframes zoom-topright {
    from {
        opacity: 0;
        transform: scale(0.3);
        transform-origin: top right;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        transform-origin: top right;
    }
}

/*mobile devices responsive*/
@media (max-width: 500px){
    .card-simple{
        transform: translate(-50%, -50%) scale(0.85);
    }
    .navbar{
        height: 50px;
    }

    @keyframes zoom {
        from {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.1);
        }
        100% {
            transform: translate(-50%, -50%) scale(0.85);
            opacity: 1;
        }
    }

}


